// blog styling


.entry-title a {
	color: #292929;
}

// entry-meta
.entry-meta {
	color: @medium-grey;

	a {
		color: @medium-grey;
	}

}

.comment-notes {
	font-size: 1rem;
}

article.post {
	display: -ms-flexbox;   // MID: IE 10
	display: -webkit-flex;  // NEW, Chrome 21–28, Safari 6.1+
	display: flex;          // NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+

	-webkit-justify-content: space-between;
	justify-content: space-between;

	// default is row (allows vertical centering)
	-webkit-flex-flow: column;
	flex-flow: column;

}


// captions
.wp-caption {
	max-width: 100%;
	margin-bottom: 2rem;
	color: #767676;
	text-align: center;
}

.sd-title {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 500;
	color: @body-text-color;
}

.wp-caption-text {
	font-size: 0.875rem;
	margin: 0.5rem 0;
}

// related posts on single post
.related-posts {
	background: @light-grey;
	margin: 0 -1rem;
	padding: 2rem;
	

	.wrapper {
		

		> h2 {
			text-align: center;
		}
	}
}

.left .avatar {
	margin-bottom: 1rem;
}

// featured image on single post page
.single .post-thumbnail,
.single .post-video {
	margin-bottom: 2rem;
}

.single.single-post .related-posts .col .post-thumbnail {
	margin: 2rem -1rem 0 -1rem;
}


.wp-caption img[class*="wp-image-"] {
	border: 1px solid @light-grey;
}


.blog {
	.entry-header h1 a {

		&:hover {
			color: @accent-color;
		}
	}

}

.entry-header {
	position: relative;
}

article.documentation,
article.download,
article.post,
article.page {
	margin-bottom: 1rem;
}


.entry-summary {
	margin-bottom: 1rem;
}

.entry-summary p {
	margin-bottom: 0;
}


.post-thumbnail {
	display: block;

	img {
		display: block;
	}
}




// post navigation
.post-navigation .wrapper {
	div + div {
		text-align: right;
	}


}


#respond .form-allowed-tags,
.form-allowed-tags,
.form-allowed-tags code {
	font-size: 0.875rem;
	color: @body-text-color;
}

// nav links
.columns.nav-links {
	font-size: 0;
	border-bottom: 2px solid @light-grey;
	padding-bottom: 1rem;
	line-height: 1.62;

	.col {
		margin-bottom: 0;
	}

	a {
		display: inline-block;
		position: relative;

		span {
			display: inline-block;
		}

		i {
			vertical-align: middle;
		}

		span, i {
			 .transition ( all 0.2s linear );
		}

		&:hover {

			i {
				.opacity(100);
			}
		}
	}

	div + div {
		text-align: right;
	}

	i {
		color: @body-text-color;
		vertical-align: middle;
		position: absolute;
		
		top: 3px;
		.opacity(0);
	}

	.nav-previous {

		a {
			&:hover span { margin-left: 1.5rem; }
		}

		i {
			margin-right: 0.5rem;
			left: 0;
		}
	}

	.nav-next {
		text-align: right;
		
		a {
			&:hover span { margin-right: 1.5rem; }
		}

		i {
			margin-left: 0.5rem;
			right: 0;
		}
	}

	.nav-next:first-child {
		width: 100%;
		text-align: right;
	}
}

@media all and ( min-width: 600px ) {
	.entry-wrap {
		text-align: justify;
	}

	.entry-thumbnail {
		width: 34%;
	}

	.has-post-thumbnail .entry-summary {
		width: 58%;
	}

	.entry-wrap .entry-thumbnail,
	.entry-wrap .entry-summary {
		display: inline-block;
		text-align: left;
		vertical-align: top;
	}
}

@media all and ( min-width: 720px ) {

	

	// alignment 

	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}

	.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img.alignright {
		margin: 0 0 1.5rem 1.5rem;
	}

	img.alignleft {
		margin: 0 1.5rem 1.5rem 0;
	}

	img.aligncenter {
		margin: 0 0 1.5rem 0;
	}
}