@label: darken( @light-grey, 40% );

input:focus, 
textarea:focus {
  outline: 0;
}

input[type="checkbox"], 
input[type="radio"] {
	width: auto;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;

    p:last-child {
    	margin-bottom: 0;
    }
}

legend {
	font-size: 1rem;
	margin-bottom: 1rem;
	text-align: left;
}

label {
	text-align: left;
	display: inline-block;

	input[type="checkbox"] {
		margin-right: 0.25rem;	
	}

	&[for="affwp_user_remember"],
	&[for="affwp_tos"] {
	   cursor: pointer;
	}
}

input,
textarea {
	width: 100%;
	padding: 0.95rem;
	color: @body-text-color;
	background: #fff;
	border: 1px solid darken( @light-grey, 3% );
}

select {
	width: 100%;
	padding: 0.95rem;
	color: @body-text-color;
	background: #fff;
	border: 1px solid darken( @light-grey, 3% );
}

input  {  
  display: inline-block;
  line-height: 1;
}

button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }        
    
}


.no-spam {
	position: relative;
	font-size: 0.875rem;
	font-weight: 300;
	font-style: italic;
	margin: 0.5rem 0 0 0;
	color: #9A9A9A;
	display: block;
}


// search form
.search-form {
	position: relative;

	.search-field {
		padding-right: 8rem;
	}

	label {
		display: block;
	}

	.button {
		position: absolute;
		top: 0;
		right:0;
		width: 7rem;
	}
}

// select2 custom styles
#rcp_payment_gateways .select2-container {
	width: 100%;
}
.select2-container {
	font-size: 1rem;
}

.select2-results li {
	font-size: 1rem;
	padding: 0;
}

@media only screen and ( min-width: 640px ) {

	// allows an input field and a submit button to stay on the same line
	.input-wrap {
		display: -ms-flexbox;   // MID: IE 10
		display: -webkit-flex;  // NEW, Chrome 21–28, Safari 6.1+
		display: flex;          // NEW: IE11, Chrome 29+, Opera 12.1+, Firefox 22+
	}

	.input-wrap .edd-input {
		-webkit-flex: 1; // Safari 6.1+
		-ms-flex: 1; // IE 10
		flex: 1;
		vertical-align: top;
	}

	.edd-renew-license,
	.edd-apply-discount {
		width: 25%;
	}


}
